<p>
  <a (click)="goBackPressed()" style="cursor: pointer;">Go Back</a>
</p>
<p *ngIf="!recipe && !load_error">
  Loading recipe please wait a moment!
</p>
<div *ngIf="load_error">
  <div class="alert alert-danger" role="alert">
    <span class="sr-only">Error:</span>
    {{error_text}} -
    <a [routerLink]="['/recipes']">Back to recipe list</a>
  </div>
</div>

<div class="card" *ngIf="recipe">
    <h6>Date Added: {{recipe.date_added | date:'medium'}}</h6>
    <div class="card-body">
    <h5 class="card-title">{{recipe?.title}}</h5>
    <div class="cover-photo-holder">
      <img class="card-img-top" src="{{recipe.cover_photo? 'http://localhost:8080/images/'+ recipe.cover_photo:'../../../assets/images/dummy.png'}}" alt="Card image cap">
    </div>
    <p class="card-text">{{recipe?.description |swearingfilter}}</p>
    <div style="float:left;font-weight:bold;width:150px">Prepration Time</div>
    <p class="card-text">{{recipe?.feeds_this_many}}</p>
    <div style="float:left;font-weight:bold;width:150px">Feeds how many</div>
    <p class="card-text">{{recipe?.prepration_time}}</p>
    <h4>Ingredients</h4>
    <ul>
      <li *ngFor="let ingredient of recipe?.ingredients">
        {{ingredient.ingredient}}({{ingredient.measure}})
      </li>
    </ul>
    <h4>Instructions</h4>
    <ol>
      <li *ngFor="let instruction of recipe.instructions">
        {{instruction.instruction}}
        <img src="http://localhost:8080/images/{{instruction.photo}}" 
        border='0' style="width:150px;height:150px; object-fit: cover"/>
      </li>
    </ol>
  </div>
</div>